This is the codebase for the laravel installer. After users install this on their machine, they can run the following command:

```
laravel new my-app
```

This will install a new Laravel application into a directory named `my-app`. This package uses the Symfony Console Command (https://symfony.com/doc/current/console.html) to create an interactive console for installing a new Laravel application.

Currently, the first question in this installer asks if the user wants to install a Starter kit. The command looks like the following:

 ┌ How would you like to install a starter kit? ────────────────┐
 │ › ● No starter kit                                           │
 │   ○ Laravel Breeze                                           │
 │   ○ Laravel Jetstream                                        │
 └──────────────────────────────────────────────────────────────┘

 We are building new versions of the starter kits and we are looking at changing the functionality of the starter kit question. It will now look like the following:

 ┌ Would you like to install a starter kit? ────────────────────┐
 │ › ● No starter kit                                           │
 │   ○ React starter kit                                        │
 │   ○ Vue starter kit                                          │
 │   ○ Livewire starter kit                                     │
 └──────────────────────────────────────────────────────────────┘

 This means that we are going to have three starter kits: React, Vue, and Livewire. Each of these starter kits have their own repo located at the following URLs:

 https://github.com/laravel/react-starter-kit
 https://github.com/laravel/vue-starter-kit
 https://github.com/laravel/livewire-starter-kit

 Currently, they are private repos, but they will become public when we release the new version of the starter kits.

 The previous versions of the starter kits were installed as stubs, so it would install a default Laravel application and then install the starter kit package that would then move the correct file stubs into the application structure, resulting in the Breeze or the Jetstream starter kit being installed. The Breeze starter kit had a ton of options and many stacks that could be installed. Jetstream had less options, but still had two stacks, Vue or Livewire. We want to simplify this. Hopefully when the user installs the new starter kits there will be less options and the starter kit can be installed and ready to go very quickly.