name: tests

on:
  push:
    branches:
      - master
      - '*.x'
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  linux_tests:
    runs-on: ubuntu-22.04


    strategy:
      fail-fast: true
      matrix:
        php: [8.2, 8.3, 8.4, 8.5]
        laravel: [10, 11, 12]
        exclude:
          - php: 8.5
            laravel: 11
          - php: 8.5
            laravel: 10
          - php: 8.4
            laravel: 10


    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }}


    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, fileinfo
          tools: composer:v2
          coverage: none


      - name: Install dependencies
        run: |
          composer update --prefer-dist --no-interaction --no-progress --with="illuminate/support=^${{ matrix.laravel }}"


      - name: Execute tests
        run: vendor/bin/phpunit --display-deprecations --fail-on-deprecation

  windows_tests:
    runs-on: windows-latest


    strategy:
      fail-fast: true
      matrix:
        php: [8.2, 8.3, 8.4]
        laravel: [10, 11, '12']
        exclude:
          - php: 8.4
            laravel: 10


    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }} - Windows


    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf


      - name: Checkout code
        uses: actions/checkout@v4


      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, fileinfo, sqlsrv, pdo, pdo_sqlsrv
          ini-values: error_reporting=E_ALL, memory_limit=512M
          tools: composer:v2
          coverage: none


      - name: Install dependencies
        run: |
          composer update --prefer-dist --no-interaction --no-progress --with="illuminate/support=~${{ matrix.laravel }}"


      - name: Execute tests
        run: vendor/bin/phpunit --display-deprecations --fail-on-deprecation
